<!doctype html>

<html lang="en">
<head>
	<title></title>
  <meta charset="UTF-8">
  <title>后台登录-X-admin1.1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__admin__/css/font.css">
  <link rel="stylesheet" href="__admin__/css/xadmin.css">
     <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="__admin__/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__admin__/js/swiper-3.4.2.min.js"></script>
    <script src="__admin__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__admin__/js/xadmin.js"></script>

</head>
{include file='public/header' /}
<div class="wrapper">
{include file='public/left' /}
{block name='main'}
我是默认主体
{/block}
 </div>
<!-- 中部结束 -->


{include file='public/footer' /}
{block name="js"}js处理{/block}




