<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin1.1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__admin__/css/font.css">
	<link rel="stylesheet" href="__admin__/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="__admin__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__admin__/js/xadmin.js"></script>

</head>
<body>
    <script type="text/javascript">
       // function login(){
       //  var name = $('#username').val();
       //  var password = $('#password').val();
       //  console.log();
       //  // alert(formData);
       //      $.ajax({
       //          type: "POST",
       //          dataType: "json",
       //          url: "{:url('Login/dologin')}",
       //          data: {'name':name,'password':password},
       //          success:function(data){
       //              console.log(data);
       //              // alert(data);
                   
       //          },
       //          error:function(data){
       //              // alert(data);
       //               console.log(data);
       //          }

       //      });
       //      return false; 
       // }
       $(document).on('click','#sad',function () {
           // alert('123');
                   var name = $('#username').val();
        var password = $('#password').val();
        // console.log();
        // alert(formData);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:url('Login/dologin')}",
                data: {'name':name,'password':password},
                success:function(data){
                    if(data.code == 200){
                       window.location.href= "{:url('Index/index')}";
                    }else{
                      alert(data.msg);
                      window.location.reload();
                    }

                   
                },
                error:function(data){
                    // alert(data);
                     console.log(data);
                }

            });
            return false; 

       })
    </script>
    <div class="login-logo"><h1>X-ADMIN V1.1</h1></div>
    <div class="login-box">
        <form action=""></form>
        <form class="layui-form layui-form-pane myform">
              
            <h3>登录你的帐号</h3>
            <label class="login-title" for="username">帐号</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="text" name="username" id="username" lay-verify="required" placeholder="请输入你的帐号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <label class="login-title" for="password">密码</label>
            <div class="layui-form-item">
                <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
                <div class="layui-input-inline login-inline">
                  <input type="password" name="password" id="password" lay-verify="required" placeholder="请输入你的密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-warning pull-right"  lay-filter="login"  type="" id="sad">登录</button> 
                <div class="forgot"><a href="#" class="forgot">忘记帐号或者密码</a></div>     
            </div>
        </form>
    </div>
	<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="__admin__/images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__admin__/images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
    </div>
    <script>
        // $(function  () {
        //     layui.use('form', function(){
        //       var form = layui.form();
        //       //监听提交
        //       form.on('submit(login)', function(data){
        //     var username = $('#username').val();
        //     alert(username);
        //         $.ajax({
        //                 type: "POST",
        //                 url: "{:url('Login/dogin')}",
        //                 contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        //                 data: {username:$("#username").val(), password:$("#password").val()},
        //                 dataType: "json",
        //                 success: function(data){
        //                             console.log(data);
        //                         }，
        //                 error:function(e){
        //                             console.log(e);

        //                 }
        //             });
        //         layer.msg(JSON.stringify(data.field),function(){
        //             location.href='index.html'
        //         });
        //         return false;
        //       });
        //     });
        // })
        
    </script>
  <!--   <script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script> -->
</body>
</html>